@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    #chatBox {
        display: flex;
        flex-direction: column;
    }

        #chatBox .main {
            flex: 1 1 auto;
            overflow-y: scroll;
        }

        #chatBox .main .name {
            font-weight: bold;
        }

        #chatBox .entry {
            flex: 0 0 auto;
        }
</style>

<div id="chatBox" style="width: 400px; height: 500px">
    <div class="main">
        <table data-bind="foreach: chatMessages">
            <tr>
                <td>
                    <div class="name" data-bind="text: user.name"></div>
                    <div class="content" data-bind="text: textContent"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="entry">
        <textarea id="messageInput" data-bind="textInput: textEntry"></textarea>
        <button id="sendButton" data-bind="click: send">Send Message</button>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/knockout/build/output/knockout-latest.js"></script>
<script src="~/js/chat.js"></script>
